{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Liste des formations</h1>
    <a type="button" class="btn btn-primary" href="{{ path('app_formation_new') }}">Ajouter une formation</a>
    <table class="table">
        <thead>
            <tr>
                <th>Intitule</th>
                <th>organisme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.intitule }}</td>
                <td>{{ formation.organismeid }}</td>
                <td>
                    <a type="button" class="btn btn-secondary" href="{{ path('app_formation_edit', {'id': formation.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune formation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
