{% extends 'base.html.twig' %}

{% block title %}Edit Candidat{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Editer le candidat</h1>

    {{ include('candidat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('candidat/_delete_form.html.twig') }}

    <a href="{{ path('app_candidat_index') }}">Retourner à la liste des candidats</a>
</div>
{% endblock %}
