{% extends 'base.html.twig' %}

{% block title %}Editer la salle{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Editer la salle</h1>

    {{ include('salle/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('salle/_delete_form.html.twig') }}

    <a href="{{ path('app_salle_index') }}">Retourner à la liste des salles</a>
</div>
{% endblock %}
