{% extends 'base.html.twig' %}

{% block title %}Les salles{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Liste des salles</h1>
    <a type="button" class="btn btn-primary" href="{{ path('app_salle_new') }}">Ajouter une salle</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.nom }}</td>
                <td>
                    <a type="button" class="btn btn-secondary" href="{{ path('app_salle_edit', {'id': salle.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune salle</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
