{% extends 'base.html.twig' %}

{% block title %}Nouvelle Salle{% endblock %}

{% block body %}
<div class="p-5">
    <h1>Créer une nouvelle salle</h1>

    {{ include('salle/_form.html.twig') }}

    <a href="{{ path('app_salle_index') }}">Retourner à la liste des salles</a>
</div>
{% endblock %}
